html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

nav button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #45a049;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#displayEvolve {

    #containerDisplay {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 15px;
        width: 480px;
        height: 480px;
        border: solid 1px gray;
        border-radius: 25px;
        padding: 10px;
        background-image: none;
        object-fit: contain;
        aspect-ratio: 1 / 1;
        box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5);
    
        .description {
            display: flex;
            flex-direction: column;
            width: 65%;
        
            #pokemonName {
                text-transform: capitalize;
                margin-bottom: 5px;
            }
        
            .types {
                display: flex;
        
                #pokemonType1 {
                    text-transform: capitalize;
                    text-align: center;
                    color: #ffffff;
                    border-radius: 15px;
                    padding: 5px;
                    width: 40%;
                }
            
                #pokemonType2 {
                    text-transform: capitalize;
                    text-align: center;
                    color: #ffffff;
                    margin-left: 5px;
                    border-radius: 15px;
                    padding: 5px;
                    width: 40%;
                }
            }
        
        }
    }
}